extends ../base

block content
  h1 video

block content
  h3
    span 🎬 
    a(href=`/videos/${video.id}`) #{video.title}
  h4=video.description
  small=video.createdAt
  p Hashtags
    ul
      each hashtag in video.hashtags
        li #{hashtag}
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;