extends ../base

block content
  h1 video

block content
  video(src="/"+video.fileUrl, controls)
  h3
    span 🎬 
    a(href=`/videos/${video.id}`) #{video.title}
  h4=video.description
  small=video.createdAt
  br
  small Uploaded by 
    a(href=`/users/${video.owner._id}`) #{video.owner.name}
  br
  br
  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;